.drop {
  display: none;
}

.drop.show {
  display: block;
}

.user_icon{
  width:40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

body{
  margin-left:  5%;
  margin-top: 5%;
}

.vew{
  margin-left: 10%;
}